@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@500&display=swap');

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

body {
  margin: 0;
}

#letterContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

}

.redo {
  transform: scale(6);
  transition: transform ease 0.5s;
  
}

.redo:active {
  transform: scale(5.5);
}

.redo:hover {
  cursor: pointer;
}

#redoLabel {
  color: green;
  font-weight: 900;
  margin-top: 45px;
}

#redoMetaContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  bottom: 0;
  position: fixed;
  width: 95%;
  height: 11vw
}

#redoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letterBtn:hover {
  background-color: whitesmoke
}

.letterBtn.correct:hover {
  background-color: green;
}

.letterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11vw;
  height: 9vw;
  width: 11vw;
  margin: 10px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 40px;
}

.chosen {
  opacity: 0.5;
  cursor: auto;
}

.correct {
  background-color: green;
}

.shake {
  animation: 0.2s tilt-shaking;
}

#gameover {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

#gameoverPopup {
  display: flex;
  flex-direction: column !important;
  background-color: green;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 2vw

}

#restartBtn {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
  }

  #restartBtn:hover{
    background-color: #1db954;
}