@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#letterContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

}

.letterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12em;
  height: 9vw;
  width: 10vw;
  margin: 10px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.chosen {
  opacity: 0.5;
  cursor: auto;
}

.correct {
  background-color: green;
}